@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap');

* {
  box-sizing: border-box;
}

body {
  background:hsl(70, 31%, 85%);
  margin: 4rem 9rem 0 9rem;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background-repeat: no-repeat;
  
}


.welcome {
  text-align: center;
  color: blue;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.body {
  text-align: center;
  margin-bottom: 5rem;
}

.start-game {
  margin: 1rem 0;
}

#subButton {
  padding: 21px 83px;
  font-size: 26px;
  background: #fff;
  border: 1px solid blue;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
  color: blue;
}

#subButton:hover {
  color: #fff;
  background: blue;
}



.footer {
  text-align: center;
  /* background: rgba(0, 0, 0, 0.822); */
  color: #2c3e50;
  padding: .1rem 0;
  font-size: 12px;
}

.game-section {
  display: none;
  margin-top: -33px;
}

#user-name {
  color: blue;
  text-align: center;
}
.who {
  text-align: center;
  margin-bottom: 1.5rem;
}

.who img {
  width: 150px;
}

.who h2 {
  color: blue;
  font-size: 16px;
}

.mark {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 2rem; */
}

.mark img {
  width: 90px;
}

.answer {
  text-align: center;
  margin-bottom: 3rem;
}

#heading {
  font-size: 17px;
}

.engine-form {
  display: inline-grid;
}

#checkButton {
  background: #fff;
  border: 2px solid blue;
  border-radius: 4px;
  padding: 8px 18px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-top: 2rem;
  cursor: pointer;
}

#checkButton:hover {
  background: blue;
  color: #fff;
}

.reset button {
    font-size: 17px;
    border: 2px solid blue;
    background: #fff;
    padding: 9px 19px;
    border-radius: 2px 10px;
    color: rgba(0, 0, 0, 0.527);
    margin-top: 17px;
    cursor: pointer;

}

.reset button:hover {
  background: rgba(255, 255, 255, 0.384);
  color: rgba(0, 0, 0, 0.767);

}

#listUp {
  color: green;
  font-size: 14px;
}

#listUp2 {
  color: red;
  font-size: 14px;
}
.label {
    margin-bottom: .2rem;
}

.label label {
    color: red;
    font-size: 13px;
}

.reset-life {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: -98px 50px 0 50px;
}

.reset-life p {
  font-size: 17px;
  border: 2px solid blue;
  background: #fff;
  padding: 9px 31px;
  border-radius: 2px 10px;
  color: rgba(0, 0, 0, 0.527);
  margin-top: 17px;
}

.character-img img {
    border-radius: 50%;
}

.win-section {
    text-align: center;
    display: none;
}

.win-section h2, p {
    color: blue;
}


.welcome-screen {
  text-align: center;
  display: none;
  margin-top: 6rem;
}

.fail {
  display: none;
  text-align: center;
  margin-top: 3rem;
}

.fail h2 {
  color: blue;
  margin-top: 8rem;
}

.start-now {
  padding: 21px 104px;
  font-size: 26px;
  background: #fff;
  border: 1px solid blue;
  border-radius: 5px;
  margin-top: 4rem;
  margin-bottom: 6rem;
  cursor: pointer;
  color: blue;
}

.start-now:hover {
  color: #fff;
  background: blue;
}

.welcome-screen h2 {
  color: blue;
}

.instruct, .start {
  margin-top: 4rem;
}


.instruct button {
  padding: 21px 83px;
  font-size: 26px;
  background: #fff;
  border: 1px solid blue;
  border-radius: 5px;
  cursor: pointer;
  color: blue;
}

.instruct button:hover {
  color: #fff;
  background: blue;
}

#startNow {
  padding: 21px 109px;
  font-size: 26px;
  background: #fff;
  border: 1px solid blue;
  border-radius: 5px;
  cursor: pointer;
  color: blue;
}

#startNow:hover {
  color: #fff;
  background: blue;
}

.start {
  margin: 0;
}




@media only screen and (max-width: 740px) {
  body {
    margin: 2rem 0 0 0;
  }
}

@media only screen and (max-width: 464px) {
  .reset-life {
    margin: -162px 12px 0 12px;
  }

  .label {
    margin-top: 3rem;
  }

  .reset button {
    padding: 12px 4px;
  }

  .welcome-screen h2 {
    font-size: 19px;
  }

  .first-section, .game-section, .welcome-screen, .win-section, .fail {
    border: 1rem solid rgba(0, 0, 255, 0.685);
    padding-top: 2rem;
    background:hsl(70, 31%, 85%);
    margin-top: -32px;
    height: 100%;
  }

  .who img {
    width: 100px;
  }

  #user-name {
    font-size: 20px;
  }

  .mark img {
    width: 60px;
  }

  .reset-life p {
    padding: 10px 11px 10px 11px;
  }

  .footer {
    /* border: 1rem solid rgba(0, 0, 255, 0.685); */
    background: #fff;
  }

  .welcome h2 {
    font-size: 15px;
  }

  .fail h2 {
    margin-top: 1rem;
    font-size: 18px;
  }

  .play-now, #subButton, .instruct button {
    padding: 18px 29px;
  }

  .start-now {
    padding: 21px 89px;
  }

  .start button {
    padding: 18px 49px;
  }

  #startNow {
    font-size: 15px;
    padding: 14px 61px;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
